body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 300px;
  margin: 3rem auto;
  padding: 18px 16px;
  background: #222;
  border-radius: 12px;
}
.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 42px;
  font-weight: 700;
  width: 100%;
  height: 48px;
  border: 1px solid #222;
  border-radius: 3px;
  background: #fff;
}
.symbol-items {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin-top: 28px;
}
.symbol-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  padding: 5px 12px;
  background: #fff;
  color: #222;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.symbol-clear {
  flex: 2;
  font-size: 24px;
  font-weight: 700;
  background: red;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.symbol-del {
  flex: 2;
  font-size: 24px;
  font-weight: 300;
  background: rgb(28, 14, 40);
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.symbol-res {
  flex: 2;
  font-size: 24px;
  font-weight: 301;
  background: rgb(28, 14, 40);
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.clicking:active {
  transform: scale(0.97);
}
